var/**
env
appsettings**json
bin
obj
.vs
*.user
*.nupkg
node_modules
local.env
artifacts/**
nuget.cache
.idea
VAULT_PASSWORD
password.sh
scripts/deploy/data
.DS_Store
*.tar
*.env
*.tar.gz
/BrokerAssistBot/Properties/launchSettings.json
